{% extends 'zj_demand/black.html' %}
{% block find %}
<form class="c-page-header__search-form" action="#" method="get">
					<input type="hidden" name="w" value="search" />
					<input class="c-page-header__search-field" placeholder="请输入您想搜索的内容" name="so" value="" id="xianshi">
    <button class="c-page-header__search-submit" style="
    color: #ffffff;
" onclick="diji()">
        <script>
            function diji() {
                var t=document.getElementById('xianshi').value = '服务暂未开启，敬请期待！'
            }
        </script>
        <img src="/static/img/111.png"></button></form>
{% endblock %}
