{% extends 'zj_demand/black_1.html' %}
{% block content %}
<style>
	.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(253, 254, 255, 0.5)}
</style>

		
    <main class="page-main page-main--trade">
				<!--轮波-->
			<div class="carousel slide mx-auto c-carousel" id="carousel-banner" data-ride="carousel">
				<div class="carousel-inner c-carousel__inner">
				<div class="active carousel-item c-carousel__item"><img class="d-block w-100 c-carousel__img" src="/static/img/10jpg" style="width: 1280px;height: 200px;"alt=""></div>
					<div class="carousel-item c-carousel__item"><img class="d-block w-100 c-carousel__img" src="/static/img/22.jpg" style="width: 1280px;height: 200px;" alt=""></div>
					<div class="carousel-item c-carousel__item"><img class="d-block w-100 c-carousel__img" src="/static/img/33.jpg" style="width: 1280px;height: 200px;" alt=""></div>
				</div>
				<a class="carousel-control-prev" href="#carousel-banner" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
				<a class="carousel-control-next" href="#carousel-banner" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
			</div>

<!--首页标签-->
			<div class="c-trade-filter-panel" style="height: 220px">
				<div class="c-trade-filter">
	        		<div class="page-header" style="background: #fefefe;padding: 10px 0px 10px 0px;">
	            	<label class="c-trade-sort__item-name"style="background-color: #33C08A;color: #ffffff;border-bottom-width: 0px; border-radius: 0px" >首页</label>
                        <div CLASS="c-trade-filter-panel" style="border-bottom: #33C08A;;border-bottom-width: 2px;border-bottom-style: solid; float: left"></div>
		<!-- 一级菜单-->
                        <div>
                            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background: white; border-color:white ">
                                <div><img src="/static/img/congwu1.png"></div>
                                <div class="c-trade-sort__item-name"style="color:#1c7430;border: 0px;" >宠物</div>
		                    </a>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample" style="background: white;border-color:white ">
                                <div><img src="/static/img/fangchang1.png"></div>
                                <div class="c-trade-sort__item-name"style="color:#1c7430;border: 0px;" >房产</div>
                            </button>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample" style="background: white;border-color:white ">
                                <div><img src="/static/img/ershoushichang1.png"></div>
                                <div class="c-trade-sort__item-name"style="color:#1c7430;border: 0px;" >二手市场</div>
                            </button>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample" style="background: white;border-color:white ">
                                <div><img src="/static/img/bendi.png"></div>
                                <div class="c-trade-sort__item-name"style="color:#1c7430;border: 0px;" >本地服务</div>
                            </button>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample" style="background: white;border-color:white ">
                                <div><img src="/static/img/woyaorenmai1.png"></div>
                                <div class="c-trade-sort__item-name"style="color:#1c7430;border: 0px;" >我要人脉</div>
                            </button>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample" style="background: white;border-color:white ">
                                <div><img src="/static/img/wuping.png"></div>
                                <div class="c-trade-sort__item-name"style="color:#1c7430;border: 0px;" >寻人寻物</div>
                            </button>
                            <!-- 下拉二级菜单-->
                            <div class="collapse" id="collapseExample">
                                <div class="well" style="background: white; border-top-color:#1bb28a;line-height: 1.15; padding:0;border-bottom-color: white; border-left-color: white; border-right-color: white  ">
                                    <a href="#"/><li class="c-trade-filter__option-item" >
                                    <label class="c-trade-filter__option-name">购买宠物</label></li></a>
                                    <a href="#"/><li class="c-trade-filter__option-item" >
                                    <label class="c-trade-filter__option-name">出售宠物</label></li></a>
                                </div>
                            </div>
<!--房产-->
                            <div class="collapse" id="collapseExample1">
                                <div class="well" style="background: white; border-top-color:#1bb28a;line-height: 1.15; padding:0;border-bottom-color: white; border-left-color: white; border-right-color: white  ">
                                    <a href="#"/><li class="c-trade-filter__option-item" >
                                    <label class="c-trade-filter__option-name">我要租房</label></li></a>
                                    <a href="#"/><li class="c-trade-filter__option-item" >
                                    <label class="c-trade-filter__option-name">我要合租</label></li></a>
                                    <a href="#"/><li class="c-trade-filter__option-item" >
                                    <label class="c-trade-filter__option-name">我要转租</label></li></a>
                                </div>
                            </div>
                            <!--二手市场-->
                            <div class="collapse" id="collapseExample2">
                                <div class="well" style="background: white; border-top-color:#1bb28a;line-height: 1.15; padding:0;border-bottom-color: white; border-left-color: white; border-right-color: white  ">
                                    <a href="#"/><li class="c-trade-filter__option-item" >
                                    <label class="c-trade-filter__option-name">我要买卖</label></li></a>
                                    <a href="#"/><li class="c-trade-filter__option-item" >
                                    <label class="c-trade-filter__option-name">手机电脑</label></li></a>
                                    <a href="#"/><li class="c-trade-filter__option-item" >
                                    <label class="c-trade-filter__option-name">电动摩托车</label></li></a>
                                    <a href="#"/><li class="c-trade-filter__option-item" >
                                    <label class="c-trade-filter__option-name">服装箱包</label></li></a>
                                    <a href="#"/><li class="c-trade-filter__option-item" >
                                    <label class="c-trade-filter__option-name">数码产品</label></li></a>
                                    <a href="#"/><li class="c-trade-filter__option-item" >
                                    <label class="c-trade-filter__option-name">家具家电</label></li></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ul>
                </div>
            </div>
<!--标签-->
        <div class="clearfix c-trade">
            <div class="c-trade__main">
                <div class="c-trade-sort">
                    <a class="list-inline c-trade-sort__item-list">
                        <a class="list-inline-item c-trade-sort__item" href="#"/>
                        <label class="c-trade-sort__item-name"style="background-color: #33C08A;
color: #ffffff;" >综合</label>
                        <a class="list-inline-item c-trade-sort__item" href="#"/>
                        <label class="c-trade-sort__item-name" >发布时间</label>
                    	<a class="list-inline-item c-trade-sort__item" href="#"/>
                        <label class="c-trade-sort__item-name" >剩余时间</label>
                        <a class="list-inline-item c-trade-sort__item" href="#"/>
                        <label class="c-trade-sort__item-name" >参与数</label></a>
                    <!-- <div class="c-trade-sort__item-name" >
                    			  <button class="c-trade-sort__item-name" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    	所在地区
                                    	<span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" aria-labelledby="dLabel">
									  <li value ="#" >深圳</li>
									  <li value="#" >西安</li>
									  <li value="#" >广州</li>
									  <li value="#" >上海</li>
								  </ul>
								</div>-->
                    <select class="c-trade-sort__item-name">
                        <option value ="#" class="aaaaa">所在地区</option>
                        <option value ="#">深圳</option>
                        <option value="#" >西安</option>
					    <option value="#" >广州</option>
					    <option value="#">上海</option>
					</select>
                    </ul>
                    <!--搜索-->
                    <ul class="list-inline c-trade-sort__item-list">
                        <form class="c-page-header__search-form" action="http://www.mybdhome.com/" method="get">
                            <input type="hidden" name="w" value="search" />
                            <input class="c-page-header__search-field" style="height: 35px;margin-left:45px;" placeholder="搜索任务" name="find" value="">
                            <button class="c-page-header__search-submit" style="height: 35px; width:35px;"><img src="/static/img/111.png"></button>
                        </form>
                    </ul>
                </div>
                <ul class="list-unstyled c-trade-card-list">


                    <!-------------第一个帖子--------->
                    {% for each in page %}

                    <li class="c-trade-card-item">
					<!-- 绝对定位，卡片左上角ribbon-->
                        {% if each.add_seriver != 0 %}
                        <div class="c-trade-card-item__recommendation" data-recommendation="true" >
                            <p class="c-trade-card-item__recommendation-ribbon" style="background-color: #f5370c;">置顶</p>
                        </div>

                        {% endif %}
                        <div class="c-trade-card">
                            <!-- 卡片中靠左，包括figure和info overview-->
                            <div class="c-trade-card__overview">
                                <figure class="c-trade-card__avatar"><img class="c-trade-card__avatar-img" src="/{{ each.personal_center__mypic }}" alt="头像">
                                    <figcaption class="c-trade-card__avatar-caption" style="
    text-align: center;
">{{ each.personal_center__atname }}
                                        </figcaption>
                                </figure>
                                <div class="c-trade-card__synopsis">
                                    <h4 class="c-trade-card__title">
                                        <a class="c-trade-card__link" target="_blank"  href="/comment/{{ each.personal_center_id }}/{{ each.id }}">{{ each.title }}
                                        </a>
                                    </h4>
                                    <div class="c-trade-card__desc"><span class="c-trade-card__desc-name">费用:{{ each.bounty }}</span>
                                        <ul class="c-trade-card__desc-list">
                                            <li class="list-inline-item c-trade-card__desc-item">
                                                <span class="c-trade-card__desc-tag">详情：{{ each.details }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="c-trade-card__desc"><span class="c-trade-card__desc-name">联系方式：{{ each.demand_tel }}</span>
                                        <ul class="c-trade-card__desc-list">

                                            <li class="list-inline-item c-trade-card__desc-item"><span class="c-trade-card__desc-tag">线上广告</span></li></ul>
											<!-- 卡片中靠右，包括企业认证，发帖人职位名称、发帖时间、帖子查看人数等-->
                                    </div>
                                </div>
                            </div>
                            <div class="c-trade-card__status">
                                <div class="c-trade-card__certification" data-certification="true">
                                    <img src="/static/career.png" style="width: 24px;"> &nbsp;&nbsp; {{ each.personal_center__position }}

                                </div>

                                <div class="c-trade-card__syslog" style="margin-top:73px;">
                                    <span class="c-trade-card__time">{{ each.date }}</span>
                                    <span class="glyphicon glyphicon-eye-open" id="zj_ha"></span>
                                </div>
                            </div>
                        </div>
                    </li>

                        {% endfor %}
                    <!-------------第二个帖子------------->
                </ul>
            <script>
               window.onload = dianjishu();
                function dianjishu() {
                    var t = document.getElementById('zj_ha');
                    var m = 1;
                    t.innerHTML = m++;
                }
            </script>

                <nav aria-label="Page navigation">
                    <ul class="pagination">

                        <li>
                            {%  if page.has_previous %}
                                <a href="/index/{{ page.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% endif %}
                        </li>

                        {% for index in page.paginator.page_range %}
                        <li><a href="/index/{{ index }}">{{ index }}</a></li>
                       {% endfor %}


                        <li>
                            {% if page.has_next %}
                                <a href="/index/{{ page.next_page_number}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>

                <nav class="c-pagination" aria-label="page navigation">
                </nav>
            </div>
            <div class="c-trade__aside" style="margin-top: 0px;">
                <div class="c-trade-ad"><img class="c-trade-ad__img" src="/static/img/margin" alt="广告位"></div>
                <nav class="c-trade-news c-trade-news--today">
                    <header class="c-trade-news__header">
                        <h3 class="c-trade-news__title">今日最热</h3></header>
                    <ol class="list-unstyled c-trade-news__nav-list">
                        <li class="c-trade-news__nav-item">
                            <a class="c-trade-news__nav-link" href="#">【小码王少儿编程】寻求资源互换，广告推广</a>
                        </li>
                        <li class="c-trade-news__nav-item">

                    </ol>
                </nav>
                <nav class="c-trade-news c-trade-news--week">
                    <header class="c-trade-news__header">
                        <h3 class="c-trade-news__title">七天最热</h3></header>
                    <ol class="list-unstyled c-trade-news__nav-list">
                        <li class="c-trade-news__nav-item">
                            <a class="c-trade-news__nav-link" href="../demand-5430.html">【协赢天亿】哒哒英语！提供费用需求cpa渠道</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </main>
{% endblock %}