{% extends 'base1.html' %}
{% block  nav %}
<div class="c-user__control-panel">
					<div class="c-user-control c-user-control--collection">
						<header class="c-user-control__header">
							<h4 class="c-user-control__title">我的收藏</h4></header>
						<div class="c-user-control__content">
							<ul class="list-unstyled c-user-todolist c-user-todolist--collection">
								<li class="c-user-todolist__item">
									<div class="c-user-todolist__item-overview">
										<h5 class="c-user-todolist__item-desc"><a class="c-user-todolist__item-link" href="#">我的收藏简要描述简要描述简要描述</a></h5></div>
									<div class="c-user-todolist__item-action"><time class="c-user-todolist__item-time">2017-01-01&nbsp;09:09</time><button class="c-btn c-btn-text c-user-todolist__item-delete" type="button">删除</button></div>
								</li>
								<li class="c-user-todolist__item">
									<div class="c-user-todolist__item-overview">
										<h5 class="c-user-todolist__item-desc"><a class="c-user-todolist__item-link" href="#">我的收藏简要描述简要描述简要描述</a></h5></div>
									<div class="c-user-todolist__item-action"><time class="c-user-todolist__item-time">2017-01-01&nbsp;09:09</time><button class="c-btn c-btn-text c-user-todolist__item-delete" type="button">删除</button></div>
								</li>
								<li class="c-user-todolist__item">
									<div class="c-user-todolist__item-overview">
										<h5 class="c-user-todolist__item-desc"><a class="c-user-todolist__item-link" href="#">我的收藏简要描述简要描述简要描述</a></h5></div>
									<div class="c-user-todolist__item-action"><time class="c-user-todolist__item-time">2017-01-01&nbsp;09:09</time><button class="c-btn c-btn-text c-user-todolist__item-delete" type="button">删除</button></div>
								</li>
								<li class="c-user-todolist__item">
									<div class="c-user-todolist__item-overview">
										<h5 class="c-user-todolist__item-desc"><a class="c-user-todolist__item-link" href="#">我的收藏简要描述简要描述简要描述</a></h5></div>
									<div class="c-user-todolist__item-action"><time class="c-user-todolist__item-time">2017-01-01&nbsp;09:09</time><button class="c-btn c-btn-text c-user-todolist__item-delete" type="button">删除</button></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
{% endblock %}
