{% extends 'base1.html' %}
{% block nav %}

    <div class="c-user__control-panel">
	    <div class="c-user-control">
            <header class="c-user-control__header">
                <h4 class="c-user-control__title">修改密码</h4></header>
            <div class="c-user-control__content">
                <form class="c-account-form c-account-form--update-password" action="/personal/xiugai_password_handler/" method="post">
                    {% csrf_token %}
                    <div class="c-account-form__group">
                        <label class="c-account-form__label" for="phone-number">当前密码</label>
                        <input class="c-account-form__field" id="phone-number" placeholder="请输入当前账户密码" name="password" type="password" required>
                    </div>
                    <div class="c-account-form__group">
                        <label class="c-account-form__label" for="password">新密码</label>
                        <input class="c-account-form__field" id="password" onblur="mima()" type="password" name="new_password" value="" placeholder="请输入不少于8个字符的新密码" minlength="8" required>
                         <span class="c-auth__login-tip" style="color: #AA0000" id="span_d"></span>
                    </div>
                    <div class="c-account-form__group">
                        <label class="c-account-form__label" for="confirm-password">确认新密码</label>
                        <input class="c-account-form__field" id="confirm-password" type="password" onblur="lowce()" name="npass2" value="" placeholder="请再次确认新密码" minlength="8" required>
                         <span class="c-auth__login-tip" style="color: #AA0000" id="span_s"></span>
                    </div>
                    <button class="c-btn c-btn-theme c-btn-radius c-account-form__submit">保存</button>
                </form>
                 <script>
                            function mima() {

                                var reg2 = /([a-zA-Z0-9!@#$%^&*()_?<>{}]){8,18}/;
                                var reg3 = /[a-zA-Z]+/;
                                var reg4 = /[0-9]+/;
                                var pass = document.getElementById('password').value;
                                var span_d = document.getElementById('span_d');
                                    if (pass.value == '') {
                                        span_d.innerText = '密码不能为空';
                                    }else if(reg2.test(pass) && reg3.test(pass) && reg4.test(pass)){
                                        return span_d.innerText = '';
                                    }else if(!reg2.test(pass)){
                                        return span_d.innerText = '长度需要在8-18位之间';
                                    }else if(!reg3.test(pass)){
                                        return span_d.innerText = '需要含有字母';
                                    }else if(!reg4.test(pass)){
                                        return span_d.innerText = '必须包含有数字！';
                                    }

                            }
                            </script>
                            <script>
                            function lowce() {
                                var pass = document.getElementById('password');
                                var cpass = document.getElementById('nconfirm-password');
                                var span_s = document.getElementById('span_s');

                                    if(cpass.value == ''){
                                        span_s.innerText = '再次输入密码不能为空';
                                    }else if (pass.value != cpass.value){
                                        span_s.innerText = '两次输入的密码不一致！';
                                    }else{
                                        span_s.innerText ='';
                                    }
                            }
                        </script>
            </div>
        </div>
	</div>
{% endblock %}


