<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/static/css/bootstrap.css.css">
		<link rel="stylesheet" href="/static/css/main.css">
		<!--<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">-->
		<!--<link rel="stylesheet" href="/static/bootstrap/js/bootstrap.js">-->


				<link rel="stylesheet" href="/static/css/main1.css">

				<link rel="stylesheet" href="/static/css/main.y.css">
		  <link rel="icon" type="image/x-icon" href="img/favicon.ico">
		<title>快人脉</title>

<meta name="keywords" content="#" />
<meta name="description" content="#" />

	</head>

	<body>
		<div class="c-top-bar">
			<div class="c-top-bar__nav">

<div style="float:left;color: #fff;font-size: 14px;margin-top: 6px;">找需求,上快人脉之家
</div>

				<ul class="list-inline c-top-bar__nav-list">

															<li class="list-inline-item c-top-bar__nav-item">
						<a class="c-top-bar__nav-link" href="#">登录</a>
					</li>
					<li class="list-inline-item c-top-bar__nav-item">
						<a class="c-top-bar__nav-link" href="#">注册</a>
					</li>



				</ul>


			</div>
		</div>
		<header class="c-page-header">
			<nav class="c-page-header__nav">
				<a class="c-page-header__logo" href="#"><img class="c-page-header__logo-img" src="/static/img/logo1.png" alt="企业Logo"></a>
				<ul class="list-inline c-page-header__nav-list">

				</ul>
				{% block find %}
				{% endblock %}

				<a class="c-page-header__new-post" href="http://localhost:8000/fabu">发布合作</a>
			</nav>
{% block content %}
{% endblock %}



 		<footer class="c-page-footer">
			<p class="c-page-footer__row c-pagte-footer__contact"><span class="c-page-footer__contact-title c-page-footer__text">关于我们&nbsp;&#124;</span><span class="c-page-footer__text">&nbsp;免责声明&nbsp;&#47;</span><span class="c-page-footer__text">&nbsp;联系方式&nbsp;&#47;</span><span class="c-page-footer__text">&nbsp;客服QQ：XXXXXXXXX&nbsp;</span></p>

          <hr class="c-page-footer__separator">
			<p class="c-page-footer__row c-page-footer__certification"><span class="c-page-footer__text"快人脉有限公司&nbsp;&#124;</span><span class="c-page-footer__text">&nbsp;鄂xxx备12345678号-2</span></p>
		</footer>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/poper.js"></script>
		<script src="/static/js/bootstrap.js"></script>


<span style="display: none;">
<!-- 统计代码 -->
<script src="/static/js/last.js" language="JavaScript"></script>


  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?42bf2023872596714259937eaebb4ab5";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>


</span>


	</body>

</html>
